<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceUpdate" transferMode="Streamed" maxReceivedMessageSize="64000000">                
                </binding>
                
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceUpdate" />
            </netTcpBinding>
        </bindings>
        
          <client>
            <endpoint address="http://localhost:8080/Service.ServiceUpdate"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceUpdate"
                contract="Service.IServiceUpdate" name="BasicHttpBinding_IServiceUpdate" />
            <endpoint address="net.tcp://localhost:45617/Service.ServiceUpdate"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceUpdate"
                contract="Service.IServiceUpdate" name="NetTcpBinding_IServiceUpdate">
                <identity>
                    <userPrincipalName value="SAMSUNG-PC\Samsung" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>